body {
    background-color: lightskyblue;
    font-family: 'Press Start 2P';
}



.again_range{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 5%;
    padding-left: 5%;
    margin-bottom: 50px;
    
}

.again{
    border-style: solid;
    border-color: black;
    background-color: wheat;
    width: 120px;
    height: 50px;
    font-family: 'Press Start 2P';
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    margin-bottom: 50px;
    gap: 30px;
    align-items: center;
}


.box {
  border-style: solid;
  
  border-color: black;
  background-color: wheat;

  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.number{
    font-size: 60px;
}


.main-section{
    border-style: solid;
    border-color: beige;
    margin-left: 10%;
    margin-right: 10%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 5%;
    padding-top: 5%;
    gap: 10px;
}


.input_box-guess{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

}

.text-box{
    border-style: solid;
    border-color: black;
    border-width: 2px;
    background-color: wheat;
    height: 50px;
    padding-left: 25px;
    margin-right: 10px
}




.check-and-stats{
    display: flex;
    justify-content: space-between;
}

.check{
    border-style: solid;
    border-color: black;
    border-width: 2px;
    background-color: wheat;
    font-family: 'Press Start 2P';
    cursor: pointer;
    margin-right: 10px;
}